#circle {
  left: 0;
  top: 0;
}
.win-display {
  display: none;
}
.win-display img{
  border: solid blue;
  position: center;
}
.easy-size {
  height: 400px;
}

.medium-size {
  height: auto;
}

.hard-size {
  height: 100px;
}
